<div>
    <h1>Sobre Comics</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quasi officia aliquam, odio non nisi adipisci modi omnis ex veritatis minus accusantium molestias ratione sit atque. Repellat ipsa eius eligendi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni, id? Voluptates, sapiente. Expedita illo culpa, aperiam sequi quisquam quod voluptatem molestiae atque dolorem, quidem eveniet, inventore ullam hic repudiandae dolor! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur commodi illum necessitatibus, numquam quaerat expedita dolor accusantium explicabo quisquam, minima quia aperiam consequuntur optio? Praesentium quae nobis accusantium ut architecto.
    Dignissimos veritatis fugiat, quisquam aperiam, officiis excepturi sed ad voluptatem eaque eius consectetur provident placeat repellendus, officia saepe odit illum illo! Sint facilis dolorem ipsa dignissimos aut maiores. Cum, eum?
    Quibusdam repudiandae laborum, expedita sapiente temporibus consectetur nihil iste quia magni corporis eius eos at a, odit, totam ut unde consequatur quasi fugiat corrupti ea suscipit? Dolore corporis temporibus possimus.</p>

</div>
